@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: opacity 0.3s ease;
}

.main {
    display: grid;
    grid-auto-rows: auto;
    border: 2px solid black;
    border-radius: 10px;
    user-select: none;
}

.upper {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 5fr 1fr;
    border-bottom: 2px solid black;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.container {
    display: grid;
    grid-auto-rows: auto;
    gap: 10px;
    align-items: baseline;
    margin: 12px;
}

.schedule {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-auto-rows: auto;
    max-width: 80vw;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.1s ease;
}

#title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0px 20px;
}

#addinput {
    font-size: 40px;
    text-align: right;
    margin: 0px 20px;
    opacity: 0.8;
    background: none;
    border: none;
    cursor: pointer;
}

.lable {
    margin: 10px 0px 0px 10px;
    word-break: break-word;
}

.status {
    color: gray;
    text-align: center;
    font-size: 10px;
    margin: 16px 10px 0px 10px;
}

.date {
    font-size: 8px;
    color: gray;
    margin: 1px 0px 10px 11px;
}

.schedule:hover {
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.schedule:active {
    background-color: rgb(245, 245, 245);
}

.hidden {
    opacity: 0;
}